
/godot/
/godot/*.*
/ios/plugins/*/Pods/
/ios/plugins/*/build/
/ios/plugins/*/Frameworks/
/ios/plugins/*/*/*.o
/ios/plugins/*/*/*.d
/ios/plugins/*/Podfile.lock
/.idea/
/.yarn/
/yarn.lock
/package.json
/.pnp.cjs
/ios/.sconsign.dblite
#/android/*/gradle/
/android/*/build/
/android/*/.idea/
/android/*/.gradle/
#/android/*/*/*/*/gradle/
/android/*/*/*/*/.gradle/
/android/*/*/*/*/.idea/
*.d
*.o
