
/godot/
/godot/*.*
/ios/plugins/GodotFirebase/Pods/
/ios/plugins/GodotFirebase/build/
/ios/plugins/GodotFirebase/Frameworks/
/ios/plugins/GodotFirebase/GodotFirebase/*.o
/ios/plugins/GodotFirebase/GodotFirebase/*.d
/ios/plugins/GodotFirebase/Podfile.lock
/.idea/
/.yarn/
/yarn.lock
/package.json
/.pnp.cjs
/ios/.sconsign.dblite
